<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl text-center font-bold my-5">Sobre Nosotros</h2>
    <p class="text-zinc-300">Mi nombre es José y deseo ayudarte con tu desarrollo, soy ingeniero industrial tengo experiencia en el área logística asi como en el área de análisis y mejoras de procesos, durante los últimos 3 años me he especializado en el desarrollo de aplicaciones con el entorno de Power Platform para digitalizar y hacer más eficientes las operaciones en la empresa en la que trabajo.
       
    He creado aplicaciones para las áreas de logística, producción, servicio al cliente y auditoría todas ellas integrando los programas Sharepoint, Power Apps, Power Automate y Power Bi.
        
    Siéntase libre de contactarme para cualquier consulta en referencia al proyecto.
    </p>
</section>
