<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl text-center font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente sit cupiditate neque, libero natus mollitia saepe excepturi illo optio velit consequuntur omnis, nesciunt quod ipsum? Quisquam corporis ab deserunt hic!</p>
</section>
