<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Libérate de las tareas repetitivas: automatiza y enfócate en lo que realmente importa</h1>
        <p class="my-4 text-2xl justify-center">"Las tareas repetitivas pueden restan energía y limitar el crecimiento de la empresa. Al automatizar los procesos, no solo optimizas la eficiencia de tu equipo, sino también libera el tiempo para centrarte en la visión estratégica y la innovación que impulsarán tu negocio hacia adelante.¡Descubre cómo la automatización puede ser el catalizador que transforme tu negocio y maximice tu éxito!"</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-xl">Revisa Nuestros Proyectos</button>
    </div>    
    <img src="images/visionarytec.svg" alt=""class="w-80">
</header>