---
import Layout from "../layouts/layout.astro"
---

<Layout title="Blog">
    <h1>Blog de Power Platform</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem beatae eveniet et dolore. Ad nostrum odit quibusdam enim quidem molestias alias laboriosam, quia sed voluptate fugit cupiditate. Ullam, dolorum asperiores. Similique, dolore nemo? Eligendi et possimus sint fuga, incidunt quia voluptates itaque aut debitis laboriosam tempore modi quaerat dolorem rem perferendis dolores alias velit. Tenetur voluptatum harum magni dignissimos laborum iure minima nostrum natus modi inventore placeat quibusdam optio, eaque nemo pariatur quidem eius vero enim soluta! Impedit animi ipsam possimus est? Sint eligendi, voluptatum nisi inventore molestiae asperiores enim modi. Minus, sequi numquam totam corrupti perspiciatis sapiente reprehenderit rem!</p>    
    
</Layout>

