---
import Layout from "../layouts/layout.astro"
---

<Layout title="Servicios">
    <h1>Servicos de implementacuon de Power Platform</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, vel fuga at eos mollitia ratione. Fugit ducimus voluptas facere hic.
    </p>         


</Layout>



